version: "3"
services:
  lineoa-app:
    build:
      context: .
      dockerfile: Dockerfile.${NODE_ENV}
      args:
        - NODE_ENV=${NODE_ENV}
        - NEXT_PUBLIC_LIFE_ID=${NEXT_PUBLIC_LIFE_ID}
        - NEXT_PUBLIC_API_AUTHORIZATION=${NEXT_PUBLIC_API_AUTHORIZATION}
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
    image: donate_lineoaliff:${LINEOA_ENV}
    restart: always
    container_name: "${LINEOA_PREFIX_NAME}-nextjs-${LINEOA_VERSION}${LINEOA_ENV}"
    ports:
      - "${PORT}:3000"
    environment:
        - TZ=Asia/Bangkok  
        - NODE_ENV=${NODE_ENV}
        - NEXT_PUBLIC_LIFE_ID=${NEXT_PUBLIC_LIFE_ID}
        - NEXT_PUBLIC_API_AUTHORIZATION=${NEXT_PUBLIC_API_AUTHORIZATION}
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
        - NEXT_TELEMETRY_DISABLED=1
    dns:
      - 8.8.8.8  # Google Public DNS
      - 1.1.1.1  # Cloudflare DNS        